<h1><%= @cocktail.name %></h1>
<p><% @cocktail.doses.each do |dose| %></p>
<p><%= dose.description %> <%= dose.ingredient.name %></p>
<p><%= link_to "Delete this dose", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %><p>
<% end %>
 <hr>
<%= link_to "Complete the recipe", new_cocktail_dose_path(@cocktail) %>



<br><hr>
<%= link_to "View all cocktails", cocktails_path %>




