<h1><%= @cocktail.name %></h1>
<h2>Add a new recipe</h2>
<%= simple_form_for [@cocktail, @dose] do |f| %>
 <%= f.input :description %>
 <%= f.association :ingredient, collection: Ingredient.all, prompt: "Choose an ingredient"
 %>
 <%= f.submit "add a cocktail recipe", class: "btn btn-primary" %>
<% end %>

